.titulo {
  margin-top: 10px;
  background-color: #33ff46;
  padding: 10px;
  border: 1px solid #33ff46;
  border-radius: 50px;
  color: rgb(70, 70, 70);
}
.Perfil-enlace {
  color: gray;
}
.derec {
  display: flex;
  align-items: rig;
}
.per {
  display: flex;
  justify-content: space-evenly;
}
.punt {
  display: flex;
  justify-content: space-around;
}
.nombre-receta {
  background-color: #14dd28;
  padding: 10px;
}
.per {
  display: flex;
  justify-content: space-between;
}
.foto-perfil {
  border: 1px solid white;
  border-radius: 200px;
  width: 30px;
}
.encabezado {
  margin-top: 20px;
  color: black;
}
.black {
  color: black;
}
.Perfil-enlace {
  color: gray;
}
.campo-iniciarS {
  border: 2px solid #33ff46;
  margin-top: 4px;
  border-radius: 4px;
}
.campo-registro {
  border: 2px solid #33ff46;
  margin-top: 2px;
  border-radius: 2px;
}
.O-contraseña {
  text-align: center;
  color: #2ecc3e;
}
.titulo-IR {
  text-align: center;
}
.boton-I {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background-color: #14dd28;
  text-align: right;
}
.mensajes_admin {
  text-align: center;
}
.card_mensaje1_admin {
  border: 2px solid #33ff46;
}
.card_mensaje2_admin {
  border: 2px solid #33ff46;
  margin-top: 2px;
  border-radius: 2px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #33ff46;
  padding: 15px;
}
.button {
  border: 1px solid white;
  background-color: green;
}
.icon-p {
  text-align: center;
}

.public-flex {
  display: flex;
}

.fotoperfil {
  display: flex;
  justify-content: center;
}

.unotitulo {
  display: flex;
  justify-content: center;
}
